.col{
	background-color:#D0D3D4;
}
.a{
	width: 250px;
	height: 250px;
}
.down{
	margin-top:10px;
}
.image{
	margin-bottom: 15px;
}
.top{
	
}
coldark{
	background-color:#424949;
}

.abcd{
	 transform: translateX(15%)translateY(10%);
	  height:50vh auto;
      width:80%; 
}
.adjust{
	margin-left: 150px;
}

.w3-food-mint{
	color:#000;
	background-color:#c0fa8b
	}